<!DOCTYPE html>
<html lang="en" ng-app="nameList.main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">

    <style>
        li {
            float: left;
        }
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body ng-controller="mainController">

<div class="container">
    <div class="row">
        <h1>Invite NameList</h1>
    </div>

    <div class="row" style="padding-top: 30px">
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">
                    Username:
                </span>
                <input ng-model="name" type="text" class="form-control" placeholder="please enter username">
            </div>
        </div>

        <div class="col-xs-8">
            <div class="input-group">
                <span class="input-group-addon">
                    Phone Number:
                </span>
                <input ng-model="phone" type="number" class="form-control" placeholder="please enter phone number">
            </div>
        </div>

        <div class="col-xs-1">
            <button class="btn btn-success" ng-click="invite()">Invite</button>
        </div>
    </div>

    <div class="row" style="padding-top: 30px;">
        <a class="btn btn-success btn-xs" href="#/all">Show All</a>
        <a class="btn btn-success btn-xs" href="#/inviting">Show Inviting</a>
        <a class="btn btn-success btn-xs" href="#/accept">Show Accept</a>
        <a class="btn btn-success btn-xs" href="#/refuse">Show Refuse</a>
    </div>

    <div class="row" style="padding-top: 30px;">
        <table class="table table-bordered">
            <tr>
                <th style="width: 50px;">ID</th>
                <th style="width: 100px;">Username</th>
                <th style="width: 150px;">Phone Number</th>
                <th style="width: 100px;">Status</th>
                <th>Operate</th>
            </tr>

            <!--will replace the following tr content with template-->
            <!--<tr ng-repeat="user in nameList">-->
                <!--<td>{{$index + 1}}</td>-->
                <!--<td>{{user.name}}</td>-->
                <!--<td>{{user.phone}}</td>-->
                <!--<td>{{user.status}}</td>-->
                <!--<td>-->
                    <!--<button class="btn btn-success btn-xs" ng-click="accept(user)" ng-if="user.status=='inviting'">Accept</button>-->
                    <!--<button class="btn btn-danger btn-xs" ng-click="refuse(user)" ng-if="user.status=='inviting'">Refuse</button>-->
                    <!--<button class="btn btn-default btn-xs" ng-click="remove(user)">Remove</button>-->
                <!--</td>-->
            <!--</tr>-->

            <tr nl-item
                nl-user = "user"
                nl-remove-fn = "remove"
                nl-id = "{{$index + 1}}"
                ng-repeat="user in nameList"
            ></tr>


        </table>
    </div>

</div>
<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="./moduleService.js"></script>
<script>

    var app = angular.module('nameList.main', ['nameList.module']);

    app.controller('mainController', function ($scope, $location, moduleService) {

        $scope.nameList = moduleService.getAll();

        $scope.invite = function () {

            var obj = moduleService.invite($scope.name, $scope.phone);

            if (obj.code == 'error') {
                alert(obj.message);
            } else {
                $scope.nameList = moduleService.getAll();
                $scope.name = "";
                $scope.phone = "";
            }
        };

        $scope.remove = function (user) {
            moduleService.remove(user);
            $scope.nameList = moduleService.getAll();
        };

        $scope.accept = function (user) {
            user.accept();
        };

        $scope.refuse = function (user) {
            user.refuse();
        };

        $scope.location = $location;
        $scope.$watch('location.path()', function (newVal, oldVal) {

            switch (newVal) {
                case '/all':
                    $scope.nameList = moduleService.getAll();
                    break;
                case '/inviting':
                    $scope.nameList = moduleService.getAll().filter(function (value) {
                        return value.status == 'inviting';
                    });
                    break;
                case '/accept':
                    $scope.nameList = moduleService.getAll().filter(function (value) {
                        return value.status == 'accept';
                    });
                    break;
                case '/refuse':
                    $scope.nameList = moduleService.getAll().filter(function (value) {
                        return value.status == 'refuse';
                    });
                    break;
            }
        });
    });


    // use @ to replace the content with template
    app.directive('nlItem', function () {

        return {
            restrict: "A",
            templateUrl: 'nl_item_tmpl.html',
            scope : {
                nlUser: "=", // bidirectional binding
                nlRemoveFn: "=",
                nlId: "@"
            }
        };
    })
</script>

</body>
</html>



































