<!DOCTYPE html>
<html lang="en" ng-app="nameList.main">
<head>
    <meta charset="UTF-8">
    <title>NameList</title>
    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <style>
        li {
            float: left;
        }

        body {
            padding-top: 50px;
        }
    </style>
</head>
<body ng-controller="mainController">

<div class="container">
    <div class="row">
        <h1>Invite NameList</h1>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-xs-3">
            <div class="input-group">
                  <span class="input-group-addon">
                      username
                  </span>
                <input type="text" ng-model="name" class="form-control" placeholder="enter username">
            </div>
        </div>
        <div class="col-xs-8">
            <div class="input-group">
                  <span class="input-group-addon">
                      mobile number
                  </span>
                <input type="text" ng-model="mobile" class="form-control" placeholder="enter mobile number">
            </div>
        </div>
        <div class="col-xs-1">
            <button class="btn btn-success" ng-click="invite()">invite</button>
        </div>
    </div>

    <div class="row" style="padding-top: 30px;">
        <a class="btn btn-success btn-xs " href="#/all">show all</a>
        <a class="btn btn-success btn-xs " href="#/invite">show invited</a>
        <a class="btn btn-success btn-xs " href="#/accept">show accept</a>
        <a class="btn btn-success btn-xs " href="#/refuse">show refuse</a>
    </div>

    <div class="row" style="padding-top: 30px;">
        <table class="table table-bordered">
            <tr>
                <th style="">id</th>
                <th style="">username</th>
                <th style="">mobile</th>
                <th style="">status</th>
                <th>operate</th>

            </tr>
            <tr ng-repeat="userinfo in nameList">
                <td>{{$index + 1}}</td>
                <td>{{userinfo.name}}</td>
                <td>{{userinfo.mobile}}</td>
                <td>{{userinfo.status}}</td>
                <td>
                    <!--which way is better？-->
                    <button class="btn btn-xs btn-success" ng-if="userinfo.status =='inviting'" ng-click="accept(userinfo)">
                        accept invite
                    </button>
                    <button class="btn btn-xs btn-danger" ng-if="userinfo.status =='inviting'" ng-click="refuse(userinfo)">
                        refuse invite
                    </button>
                    <button class="btn btn-xs btn-default" ng-click="remove(userinfo)">remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>


<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script>


    // model
    var model = [
        {name: 'Rick', mobile: '18612345678', status: 'inviting'},
        {name: 'Leo', mobile: '18612345690', status: 'accept'}
    ];


    // create module and controller
    var app = angular.module('nameList.main', []);

    app.controller('mainController', function ($scope, $location) {

        // vm is $scope
        $scope.nameList = model; // put the model on $scope

        $scope.invite = function () {
            // 1. get the user input

            var name = $scope.name;
            var mobile = $scope.mobile;

            // 2. create a object and push in array
            var userinfo = {name: name, mobile: mobile, status: 'inviting'};



            // 4. define the added data is valid
            var isOk = true;

            // 4.1 user could not be empty
            if (!name || !mobile) {
                isOk = false;
            }

            // 4.2 mobile is repeated
            model.forEach(function (value, index, array) {
                isOk = isOk && (value.mobile != mobile);
            });



            if (isOk) {
                model.push(userinfo);
            } else {
                alert('data is invalid');
            }

            // 3. after adding, clear the input tag
            $scope.name = "";
            $scope.mobile = "";
        };

        $scope.remove = function (userinfo) {

//            get userInfo index of the model array
            var index = model.indexOf(userinfo);
            model.splice(index, 1);
        };

        $scope.accept = function (userinfo) {
            userinfo.status = 'accept'
        };

        $scope.refuse = function (userinfo) {
            userinfo.status = 'refused'
        };

        $scope.location = $location;


        // based on the different path to show the different nameList
        $scope.$watch('location.path()', function (newValue, oldValue) {

            switch(newValue) {
                case '/all':
                    $scope.nameList = model;
                    break;
                case '/invite':
                    $scope.nameList = model.filter(function (value) {
                            return value.status == 'invite';
                    });
                    break;
                case '/accept':
                    $scope.nameList = model.filter(function (value) {
                        return value.status == 'accept';
                    });
                    break;
                case '/refuse':
                    $scope.nameList = model.filter(function (value) {
                        return value.status == 'refused';
                    });
                    break;
            }
        });
    });


</script>
</body>
</html>






























