<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<title>01 Angular binding</title>
	<!-- import angular lib -->
	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
</head>

<!-- 'ng-app' setting angularJS running where -->
<body ng-app>

<!-- angularJS has a js object used to store the data, ng-model sets this object's property, so binding this tag -->

	<input type="text" ng-model="demo">
	<div>{{demo}}</div>

	<input type="text" ng-model="demo">

	

</body>
</html>






















