<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template • TodoMVC</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <!-- CSS overrides - remove if you don't need it -->
  <link rel="stylesheet" href="css/app.css">
  <script src="node_modules/angular/angular.js"></script>
</head>

<body ng-app="mainApp">
  
    <section class="todoapp" ng-controller="mainController">
      <header class="header">
        <h1>todos</h1>
        <form ng-submit="actions.add()">
          <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="data.input">
        </form> 
      </header>

      <section class="main">
        <input class="toggle-all" type="checkbox" ng-click="actions.toggleAll()">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <li ng-repeat="todo in data.todoList" ng-class="{completed: todo.completed, editing: todo.id === data.currentEditingId}" data-id="todo.id">
            <div class="view">
              <input class="toggle" type="checkbox" ng-model="todo.completed">
              <label ng-dblclick="actions.edit(todo.id)">{{todo.text}}</label>
              <button class="destroy" ng-click="actions.remove(todo.id)"></button>
            </div>
            <form ng-submit="actions.save()">
              <input class="edit" value="please enter the target" ng-blur="actions.save()">
            </form> 
            
          </li>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <footer class="footer" ng-show="data.todoList.length">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong></strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a href="#/">All</a>
          </li>
          <li>
            <a href="#/active">Active</a>
          </li>
          <li>
            <a href="#/completed">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed" ng-click="actions.clearCompleted()" ng-show="actions.existCompleted()">Clear completed</button>
      </footer>
    </section>
  
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <!-- Scripts here. Don't remove ↓ -->
  <script src="js/app-pre.js"></script>
</body>

</html>


























