<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YIKE - Sim</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./less/main.css">
</head>
<body>
	<div class="viewport">
		<!-- side bar -->
		<div class="navs">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./images/avatar.png" alt="">
					</div>
					<span>Login</span>
				</dt>
				<dd>
					<a href="./index.html" class="icon-home">
						<span>Today Yike</span>
					</a>
				</dd>
				<dd>
					<a href="./older.html" class="icon-file-empty">
						<span>Older Yike</span>
					</a>
				</dd>
				<dd>
					<a href="./author.html" class="icon-pencil">
						<span>Hot Authors</span>
					</a>
				</dd>
				<dd>
					<a href="./category.html" class="icon-menu">
						<span>Column Glance</span>
					</a>
				</dd>
				<dd>
					<a href="./favourite.html" class="icon-heart">
						<span>My Favour</span>
					</a>
				</dd>
				<dd class="active">
					<a href="./settings.html" class="icon-cog">
						<span>Setting</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">Night</a>
				<a href="javascript:;" class="icon-download">Offline</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div class="header">
				<a href="javascript:;" class="menu icon-menu"></a>
				<h2>热门作者</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div class="body">
				<dl class="author">
					<dt>本周推荐</dt>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_1.png" alt="">
						</div>
						<div class="info">
							<h5>深焦</h5>
							<p>我们在全世界和你看电影</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_2.png" alt="">
						</div>
						<div class="info">
							<h5>尉迟上九</h5>
							<p>偏执的电影爱好者</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_3.png" alt="">
						</div>
						<div class="info">
							<h5>风行水上</h5>
							<p>本名高军，画家</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_1.png" alt="">
						</div>
						<div class="info">
							<h5>深焦</h5>
							<p>我们在全世界和你看电影</p>
						</div>
					</dd>
					<dt>热门作者</dt>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_3.png" alt="">
						</div>
						<div class="info">
							<h5>风行水上</h5>
							<p>本名高军，画家</p>
						</div>
					</dd>
					<dd>
						<div class="avatar">
							<img src="./uploads/avatar_2.png" alt="">
						</div>
						<div class="info">
							<h5>尉迟上九</h5>
							<p>偏执的电影爱好者</p>
						</div>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<script src="./libs/toggle.js"></script>
</body>
</html>